In [1]:
import requests
import json
import os
import pandas as pd
import src.apis as sr
from functools import reduce
import operator
from pandas import json_normalize
from dotenv import load_dotenv
load_dotenv()

True

For this part of the project we will consider the following conditions as important for the satisfaction of the staff:
- 30% of the company staff have at least 1 child. In this section we will only consider kindergartens as a priority. The process could be repeated with older schools.  
- Executives like Starbucks A LOT.
- The CEO is vegan.
- To make the maintenance guy happy, a basketball stadium must be around 10 Km. Put some respect on maintenance staff. 

We discard: 
- Everyone in the company is between 25 and 40, give them some place to go party. There is always a good place to go party in big-size cities.
- The office dogâ€”"Dobby" needs a hairdresser every month. Ensure there's one not too far away. In big cities there is alway a dog hairdresser.

# Starbucks

## Barcelona

First we extract the central location of Barcelona by using the Geocode API.

In [2]:
sr.geocode("barcelona")

{'type': 'Point', 'coordinates': [2.15379, 41.40359]}

We assign the coordinates to a variable.

In [3]:
barna={'type': 'Point', 'coordinates': [2.15379, 41.40359]}

We make Foursquare API call with 10km radius from the central coordinates we have and given that we want to locate 'close' to the city center (assuming that most of the city's economic traffic is near the city center).

In [4]:
barna_st=sr.data(barna.get('coordinates')[1],barna.get('coordinates')[0],"Starbucks")
data = barna_st.get("response")
ccode = data.get("groups")[0]
ccode_f= ccode.get("items")

After having extracted the information we were interested in from the json obtained after the application of the data function, we proceed to create a Dataframe in which we add a new category column to better distinguish in the future between the type of search performed in every city.

In [5]:
dfb_st=sr.create_dataframe(ccode_f)
dfb_st["category"] = "Starbucks"

## Munich

In [6]:
sr.geocode("munich")

{'type': 'Point', 'coordinates': [11.6366, 48.1408]}

In [7]:
munich={'type': 'Point', 'coordinates': [11.6366, 48.1408]}

In [8]:
munich_st=sr.data(munich.get('coordinates')[1],munich.get('coordinates')[0],"Starbucks")
data = munich_st.get("response")
ccode = data.get("groups")[0]
ccode_f= ccode.get("items")
dfm_st=sr.create_dataframe(ccode_f)
dfm_st["category"] = "Starbucks"

## Paris

In [9]:
paris=sr.geocode("paris")

In [10]:
paris={'type': 'Point', 'coordinates': [2.3428, 48.85756]}

In [12]:
paris_st=sr.data(paris.get('coordinates')[1],paris.get('coordinates')[0],"Starbucks")
data = paris_st.get("response")
ccode = data.get("groups")[0]
ccode_f= ccode.get("items")
dfp_st=sr.create_dataframe(ccode_f)
dfp_st["category"] = "Starbucks"

Existen 44 starbucks en un radio de 10 km a contar desde el centro de Paris. Hacemos lo propio y convertimos sus localizaciones en un DataFrame.

# Basketball Stadium

We repeat the process with the basketball stadium, for this we will change the query parameter for the request to the foursquare API.

## Munich

In [13]:
munich_bs=sr.data(munich.get('coordinates')[1],munich.get('coordinates')[0],"Basketball Stadium")
data = munich_bs.get("response")
ccode = data.get("groups")[0]
ccode_f= ccode.get("items")
dfm_bs=sr.create_dataframe(ccode_f)
dfm_bs["category"] = "Basketball_Stadium"

## Barcelona

In [14]:
barna_bs=sr.data(barna.get('coordinates')[1],barna.get('coordinates')[0],"Basketball Stadium")
data = barna_bs.get("response")
ccode = data.get("groups")[0]
ccode_f= ccode.get("items")
dfb_bs=sr.create_dataframe(ccode_f)
dfb_bs["category"] = "Basketball_Stadium"

## Paris

In [15]:
paris_bs=sr.data(paris.get('coordinates')[1],paris.get('coordinates')[0],"Basketball Stadium")
data = paris_bs.get("response")
ccode = data.get("groups")[0]
ccode_f= ccode.get("items")
dfp_bs=sr.create_dataframe(ccode_f)
dfp_bs["category"] = "Basketball_Stadium"

# Preschool

## Munich

In [16]:
munich_ps=sr.data(munich.get('coordinates')[1],munich.get('coordinates')[0],"Preschool")
data = munich_ps.get("response")
ccode = data.get("groups")[0]
ccode_f= ccode.get("items")
dfm_ps=sr.create_dataframe(ccode_f)
dfm_ps["category"] = "Preschool"

## Paris

In [17]:
paris_ps=sr.data(paris.get('coordinates')[1],paris.get('coordinates')[0],"Preschool")
data = paris_ps.get("response")
ccode = data.get("groups")[0]
ccode_f= ccode.get("items")
dfp_ps=sr.create_dataframe(ccode_f)
dfp_ps["category"] = "Preschool"

## Barcelona

In [18]:
barna_ps=sr.data(barna.get('coordinates')[1],barna.get('coordinates')[0],"Preschool")
data = barna_ps.get("response")
ccode = data.get("groups")[0]
ccode_f= ccode.get("items")
dfb_ps=sr.create_dataframe(ccode_f)
dfb_ps["category"] = "Preschool"

# Vegetarian / Vegan Restaurant

## Munich

In [19]:
munich_vs=sr.data(munich.get('coordinates')[1],munich.get('coordinates')[0],"Vegan Restaurant")
data = munich_vs.get("response")
ccode = data.get("groups")[0]
ccode_f= ccode.get("items")
dfm_vs=sr.create_dataframe(ccode_f)
dfm_vs["category"] = "Vegan_Restaurant"

## Paris

In [20]:
paris_vs=sr.data(paris.get('coordinates')[1],paris.get('coordinates')[0],"Vegan Restaurant")
data = paris_vs.get("response")
ccode = data.get("groups")[0]
ccode_f= ccode.get("items")
dfp_vs=sr.create_dataframe(ccode_f)
dfp_vs["category"] = "Vegan_Restaurant"

## Barcelona

In [21]:
barna_vs=sr.data(barna.get('coordinates')[1],barna.get('coordinates')[0],"Vegan Restaurant")
data = barna_ps.get("response")
ccode = data.get("groups")[0]
ccode_f= ccode.get("items")
dfb_vs=sr.create_dataframe(ccode_f)
dfb_vs["category"] = "Vegan_Restaurant"

# Final Dataframe per city

We use pd.concat to create a big dataframe with every Point obtained per city and we save the DataFrames under a csv format.

In [22]:
dfbarna=pd.concat([dfb_st,dfb_bs,dfb_ps,dfb_vs])
dfmunich=pd.concat([dfm_st,dfm_bs,dfm_ps,dfm_vs])
dfparis=pd.concat([dfm_st,dfm_bs,dfm_ps,dfm_vs])

In [26]:
dfbarna.to_csv(r'/Users/luissanchezdeleon/ironhack/Proyecto3-/Input/dfbarna.csv', index = False)
dfmunich.to_csv(r'/Users/luissanchezdeleon/ironhack/Proyecto3-/Input/dfmunich.csv', index = False)
dfparis.to_csv(r'/Users/luissanchezdeleon/ironhack/Proyecto3-/Input/dfparis.csv', index = False)